In [5]:
#1
s = 1,2,3,4
t = tuple(s)
print(t,type(t))

(1, 2, 3, 4) <class 'tuple'>

In [16]:
#2
t =(1,'pawan',2,'raman',3,'chotu')
print (t,type(t))

(1, 'pawan', 2, 'raman', 3, 'chotu') <class 'tuple'>

In [2]:
#3
t = tuple(map(int,input().split()))
#t = eval(input("Enter integer with comma seperated"))
pos = int(input("Enter the item position"))
if pos <= len(t):
    print ("Item Found at pos",pos,"is",t[pos-1])
else :
    print ("Not valid index")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#4
t = (2,5,76,65,34)
a,b,c,*d = t
print(a,b,c,d)

2 5 76 [65, 34]

In [43]:
#5
t1 = (1,'pawan',2,'raman',3,'chotu')
t2 = (input(),)
r = t1+t2
print (r)

(1, 'pawan', 2, 'raman', 3, 'chotu', '5dd')

In [26]:
#6
t = (1,'pawan',2,'raman',3,'chotu')
st = ""
for i in range (0,len(t)):
    st += str(t[i])
    st += " "
print (st)

1 pawan 2 raman 3 chotu

In [3]:
#7
t1 = (1,'pawan',2,'raman',3,'chotu')
print (t[3],t[-4])

IndexError: tuple index out of range

In [45]:
#8
t = (2,5,76,65)
st = t[:]
print (st)

(2, 5, 76, 65)

In [60]:
#9
t = (1,1,2,3,4,4,5,)
l = []
for i in range(0,len(t)):
    if t[i] not in l :
        l.append(t[i])
        x = t.count(t[i])
        if x >= 2:
            print (t[i])

t = (1,2,3,4,5)
lst = []
for i in t :
    c = t.count(i)
    if c>1 and i not in lst:
        lst.append(i)
        print(i)

1
4

In [83]:
#10
t = (1,2,3,4,5)
n = input()
if n in t :
    print ("True")
else :
    print ("False")

False

In [56]:
#11
l = [1,2,3,4]
t = tuple(l)
print(t)

(1, 2, 3, 4)

In [92]:
#12
t = (1,2,3,4)
l = list(t)
n = input()
if n in l:    
    l.remove(n)
t = tuple(l)
print(t)

(1, 2, 3, 4)

In [96]:
#24
t = (1,2,3,"siu",(1,2,3),4)
for i in t :
    if type(i) != tuple:
        print (i)
    else :
        break

1
2
3
siu